<!DOCTYPE html>
<head>
<style>
form {
text-align: center;
}
h1 {
margin-top: 350px;
text-align:center;
}
p {
margin-right: 30px;
margin-left:30px;
margin-top: 10px;
}
h3 {
margin-left: 30px;
margin-top: 300px;
}
#form {
height: 30px;
width:800px;
font-size: 14px;
}
#click {
height:35px;
font-size: 18px;
</style>
    <meta charset ="UTF-8">
    <title>Where's My Bus?!?!</title>
</head>
<body>
<h1>Where's My Bus?!?!</h1>
	<form action="/move" method="post">
		<input id='form' type="text" name="route_chosen"></input>
		<input id='click' type="submit" value="Find Stops!"></input>
	</form>
<h3>The current serviced routes are listed below:</h3>
<p>{{ routelist }}</p>
</body>
</div>
</html>