<!DOCTYPE html>
<style>
    body {text-align:center}
</style>
<head>
    <meta charset ="UTF-8">
    <title>When Will My Bus Arrive?</title>
</head>
    <h1>Hack TJ 2020: Where's My Bus?!?!</h1>
    <h2>BY: Ethan Lau, Brian Lee, & Vincent Song</h2>
    <p>{{ routelist }}</p>
<body>
    <img src="metrobus.jpg" width="500" height="267" alt="Houston Metro Bus"/>
</body>
<div>
<body>
	<form action="/move" method="post">
		<input type="text" name="route_chosen"></input>
		<input type="submit" value="find times!"></input>
	</form>
</form>
</body>
</div>
</html>